body {
	background-color: black
}

h1 {
	font-family: Futura;
	font-size: 49px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 73.5px;
	
}
h3 {
	font-family: Futura;
	font-size: 35px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 52.5px;
	
}
p {
	font-family: Futura;
	font-size: 20px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 30px;
	
}
blockquote {
	font-family: Futura;
	font-size: 21px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 31.5px;
	
	
}
pre {
	font-family: Futura;
	font-size: 13px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 19.5px;
	
}
